.Post-item {
    border: 1px solid;
    margin: 20px;
}

.Post-date {
    margin: 0;
    padding: 15px 0 15px 15px;
    color: lightgrey;
}

.Post-title {
    margin: 0;
    padding: 0 15px 15px;
}

.Post-button {
    margin: 0 0 20px 15px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
}

.Post-button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}

.Post-button:active {
    position:relative;
    top:1px;
}

.Post-button > a {
    color:#777777;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}