.Container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.Header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Contacts-block > p {
    line-height: 1.5;
}