.Container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.Header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Add-block {
    border: 1px solid;
    padding: 33px;
}

.Form-block {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.Input-title-post {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.Input-text-post {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.Add-button {
    margin: 15px 0 0 0;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
}

.Add-button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}