.Nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.Border-link {

}

.Nav-item {
    list-style: none;
    margin-right: 20px;
    padding-bottom: 5px;
}

.Nav-link {
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.Nav-link:hover {
    cursor: pointer;
    color: cadetblue;
    border-bottom: 2px solid;
}