.Container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.Post-block {
    width: 600px;
    margin: 20px 0 0 0;
    border: 1px solid;
}

.Post-title {
    margin: 0;
    padding: 15px 15px 15px;
}

.Post-text {
    margin: 0;
    padding: 0 15px 15px;
}

.Edit-button {
    margin: 0 0 20px 15px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
}

.Edit-button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}

.Edit-button:active {
    position:relative;
    top:1px;
}

.Edit-button > a {
    color:#777777;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.Delete-button {
    margin: 0 0 20px 15px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-size:15px;
    font-weight:bold;
    padding:1px 24px;
    text-shadow:0px 1px 0px #ffffff;
}

.Delete-button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}

.Delete-button:active {
    position:relative;
    top:1px;
}