.Container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.Edit-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    width: 500px;
    height: 150px;
}

.Input-title {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    margin: 20px 0 20px 0;
}

.Input-text {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
    margin-bottom: 20px;
}

.Input-button {
    margin: 0 0 20px 15px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.Input-button:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
}

.Input-button:active {
    position:relative;
    top:1px;
}